/* Header top*/
.header-top .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0;
}
.header-top .inner-wrap .inner-item {
    margin-left: 51px;
    font-family: var(--font-2);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.header-top .inner-wrap .inner-item i {
    margin-right: 3px;
}
.header {
    background-color:var(--green-one-color);
}
/* End Header top */

/* Header */
.header .inner-search {
    display: flex;
    align-items: center;
   
}
.header .inner-logo a img {
    height: 61px;
    width: auto;
    position: relative;
    bottom: 1.5px;
}
.header .inner-search input {
    outline: none;
    border: none;
    flex:1;
    color: #717171;
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 400;
    height: 36px;
    padding: 0 18px;
    border-radius: 11px 0 0 11px;
    background-color: #F2F2F2;
}
.header .inner-search button {
    outline: none;
    border: none;
    height: 36px;
    background-color: #F2F2F2;
    border-radius: 0 11px 11px 0;
    padding-right: 10px;
    color:#717171 ;
    font-weight: 300;
}
.header .header-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 70px;
    margin-right: -20px;
}
.header .header-menu li a{
    text-decoration: none;
    font-weight: 400;
    font-family: var(--font-2);
    color: #fff;
    margin:0 13px;
    font-size: 1.5rem;
    line-height: 1.2;
    text-transform: uppercase;
    display: inline-block;
}
.header .header-menu li a i {
    font-size: 1rem;
    
}
.header .inner-cart {
    text-align: right;
    padding-right: 16px;
  
}
.header .inner-cart .inner-cart-logo {
    position: relative;
    display: inline-block;
}

.header .inner-cart .inner-cart-logo img {
    width: 24px;
}

.header .inner-cart .inner-cart-text {
    display: inline-block;
    color: #fff;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    border:1.5px solid #fff;
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    top: -8px;
    right: -12px;
    background-color: #219653;
}
/* End Header */

/* banner */
.banner {
    position: relative;;
}
.banner .inner-image img{
    height: 542px;
    aspect-ratio: 1199/542;
    object-fit: cover;
} 
.banner .inner-box {
    height: 542px;
    width: 307px;
    background-color: #007a3580;
    position: absolute;
    top:0px;
    left: 132px;
}
.banner .inner-box-img {
    background-color: #DEE3DD;
    text-align: center;
    padding: 19px;
}
.banner .inner-box-text {
    font-size: 5.2rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-family: var(--font-2);
    padding: 50px 0;
}

/* End banner */
/* section 2 */
.section-2.mt-38 {
    margin-top: 38px;
}
.my-col {
    padding: 0;
}

.section-2 .mt-20 {
    margin-top: 20px;
}
.section-2 .mt-46 {
    margin-top: 46px;
}
.section-2 .button {
    text-align: center;
    margin-top: 26px;
}
.mt-106 {
    margin-top: 106px;
}
/*End section 2 */
/* section 4 */
.section-4 {
    margin-top: 46px;
}
.section-4 .inner-image img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
/*End section 4*/
.mt-54 {
    margin-top: 54px;
}
.mt-74 {
    margin-top: 74px;
}
.mt-20 {
    margin-top: 20px;
}
/* section 7*/
.section-7 .inner-box .inner-image img {
    width: 100%;
    aspect-ratio: 272/350;
    object-fit: cover;
}
.section-7 .inner-box .inner-title {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--font-2);
    text-align: center;
    margin-top: 18px;
    color: var(--text-green);
}
/*End section 7*/
/*section 9*/
.section-9 {
    background-color: #fff;
    padding-top: 30px;
    margin-top: 62px;
}
.section-9 .inner-left {
    margin-right: 16px;
}
.section-9 .mt-30 {
    margin-top: 30px;
}
.section-9 .inner-left .inner-image img {
    width: 100%;
    aspect-ratio: 595/338;
    object-fit: cover;
    border-radius: 9px;
}
.section-9 .inner-left .inner-content .inner-title {
    font-weight: 500;
    font-family: var(--font-2);
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 10px;
}
.section-9 .inner-left .inner-content .inner-title a {
    text-decoration: none;
    color:var(--text-lightblack-two);
}
.section-9 .inner-left .inner-content .inner-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.45rem;
    height: 7.35rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-family: var(--font-2);
    color: var(--text-lightblack-two);
}
.section-9 .inner-right {
    margin-left: 16px;
}
.section-9 .inner-right .inner-image img {
    width: 148px;
    aspect-ratio: 147/125;
    object-fit: cover;
}
.section-9 .inner-right .inner-box {
    display: flex;
    margin-bottom: 20px;
}
.section-9 .inner-right .inner-content {
    margin-left: 12px;
}
.section-9 .inner-right .inner-content .inner-title {
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 1.8rem;
    font-size: 18px;
    line-height: 2.45rem;
}
.section-9 .inner-right .inner-content .inner-title a {
    text-decoration: none;
    color:var(--text-lightblack-two);
}
.section-9 .inner-right .inner-content .inner-desc {
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.45rem;
    height: 4.9rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--text-lightblack-two);
    margin-bottom: 5px;
   
}
.section-9 .inner-right .inner-content .inner-date {
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.45rem;
    color: var(--text-lightblack-two);
}
/*End section 9*/
/*section 10*/
.section-10 {
    margin-top: 65px;
}
.section-10 .innex-box {
    height: 56px;
    width: 282px;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    padding: 8px;
}
.section-10 .innex-box .inner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.section-10 .mt-30 {
    margin-top: 30px;
}
/*End section 10*/
/*section 11*/
.section-11 {
    background-color: var(--green-one-color);
    color:#fff;
    padding: 25px 60px 11px;
    margin-top: 22px;
}
.section-11 .inner-wrap {
    display: flex;
    align-items: center;
    
}
.section-11 .inner-wrap .inner-image {
    height: 40px;
    width: auto;
}
.section-11 .inner-wrap .inner-title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-left: 18px;
    text-transform: uppercase;
}
.section-11 .myborder-right {
    border-right: 1px solid #fff;
}
/*End section 11*/
/* footer */
.footer {
    padding: 16px 0;
}
.footer .inner-image img{
    width: 117px;
}
.footer .inner-box .inner-title {
    font-family: var(--font-2);
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 14px;
    color: #000;
    text-transform: uppercase;
}
.footer .inner-box .inner-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}
.footer .inner-box .inner-phone img {
    width: 40px;
    height: 40px;
}
.footer .inner-box .inner-phone span {
    font-size: 3.9rem;
    font-weight: 400;
    line-height: 2.4rem;
    font-family: var(--font-2);
    color:var(--green-one-color);
}
.footer .inner-box .inner-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: var(--font-2);
    color: var(--text-lightblack-three);
}
.footer .inner-info {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin-top: 25px;
}
.footer .inner-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 14px;
}
.footer .inner-list li a {
    text-decoration: none;
    color: #A0A4A8;
    display: inline-block;
    font-size: 1.4rem;
}

.footer .inner-list li {
    color: #A0A4A8;
    display: inline-block;
    font-size: 1.4rem;
}
.footer .inner-list li img {
    display: inline-block;
    margin-right: 6px;
}
.footer .inner-list li {
    padding: 2px 0;
}
.footer .inner-bottom {
    border-top: 1px solid #A0A4A8;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.4rem;
    color: #828282;
    padding: 18px 0 60px;
    margin-top: 56px;
}
/* End footer */
/* section 12 */
.section-12 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.section-12 .messenger img {
    width: 67px;
    aspect-ratio: 67/64;
}
.section-12 .messenger {
    margin-top: 7px;
}
.section-12 .up img {
    width: 32px;
    aspect-ratio: 1/1;
}
/* End section 12 */
/* section 13 */
.section-13 {
    margin-top: 30px;
}
.section-13 .inner-title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--text-lightblack-four)
}
.section-13 i {
    color: var(--text-lightblack-four);
    margin: 0 10px;
    font-size: 1.1rem;
}
/* End section 13 */
/*  section 14 */
.section-14 .inner-box-left {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
}
.section-14.mt-50 {
    margin-top: 46px;
}
.section-14 .inner-box-left .inner-title{
    padding:10px 0 10px 14px;
}
.section-14 .inner-box-left .inner-title h2 {
    margin:0;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.7rem;
    color:var(--text-lightblack-two);
}
.section-14 .inner-box-left .inner-content {
    border-top: 1px solid #e8e8e8;
    padding: 7px 14px 12px;
}
.section-14 .inner-box-left .inner-content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0;
    color:var(--text-lightblack-five);
    margin-bottom: 18px;
}
.section-14 .inner-box-left .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section-14 .inner-box-left .inner-item {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}
.section-14 .inner-box-left .inner-item input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: 1px solid #e8e8e8;
}
.section-14 .inner-box-left .inner-item label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--text-lightblack-five);
    margin:0 0 0 10px;
}
.section-14 .inner-box-right h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--text-lightblack-two);
}
.section-14 .inner-box-right .inner-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 14px;
}
.section-14 .inner-box-right .inner-sort {
    flex: 1;
}
.section-14 .inner-box-right .inner-info {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--text-lightblack-two);
    margin-right: 24px;
    text-decoration: none;
}
.section-14 .inner-box-right .inner-info.active {
    background-color: var(--green-one-color);
    color: #fff;
    border-radius: 4px;
    padding: 3px 8px;
}
.section-14 .inner-box-right .inner-search {
    background-color: #fff;
    height: 37px;
    min-width: 280px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 1.2rem;
}
.section-14 .inner-box-right .inner-search input {
    flex:1;
    border: none;
    outline:none;
}
.section-14 .inner-box-right .inner-search img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.section-14 .inner-list {
    background-color: #fff;
    margin-top: 22px;
}
/* End section 14 */
.section-15 .inner-pag {
    text-align: center;
    padding: 32px 0;
}
.section-15 a {
    text-decoration: none;
    cursor: pointer;
}
.section-15 .inner-box-icon , .section-15 .inner-box.active {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.section-15 .inner-box-icon {
    background-color: #fff;
    color: var(--text-lightblack-one);

}
.section-15 .inner-box {
    color: var(--text-lightblack-one);
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
    margin: 0 12px;
}
.section-15 .inner-box.active {
    background-color: var(--green-two-color);
    color: #fff;
}
/* End section 15 */
/* section 16 */
.section-16 {
    background-color: #fff;
    padding: 20px 0 32px;
}
.section-16 .inner-title {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.75rem;
    color:var(--text-lightblack-five);
    margin-bottom: 6px;

}
.section-16 .inner-star img {
    width: 14px;
}
.section-16 .inner-desc {
    font-weight: 400;
    font-size: 1.7rem;
    color: #4f4f4f;
    line-height: 2.1rem;
    margin-top: 10px;
}
.section-16 .inner-image {
    text-align: center;
    margin: 58px 0 44px;
}
.section-16 .inner-image img {
    max-width: 774px;
    aspect-ratio: 774/413;
    object-fit: cover;
}
.section-16 .button {
    text-align: center;
}
/* End section 16 */
/* section 17 */

.section-17 .inner-content {
    border-bottom: 1px solid #f2f2f2;
    padding: 16px 0 12px;
}
.section-17 .inner-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    text-transform: capitalize;
    color:var(--text-lightblack-six);
}
.section-17 .inner-option {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.section-17 .inner-star img {
    width: 16px;
    height: 16px;
}

.section-17 .inner-option .inner-text {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: var(--green-one-color);
    margin-left: 10px;
}
.section-17 .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.section-17 .inner-box {
    display: inline-flex;
    align-items: center;
    background-color:var(--green-three-color);
    color: #fff;
    padding: 0 20px;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-left: 8px;
    border-radius: 4px;
}
.section-17 .inner-box img {
    margin-right: 5px;
}
/* End section 17 */
/* section 18 */
.section-18 {
    padding-top: 16px;
}
.section-18 .inner-left .inner-top {
    border: 1px solid #f2f2f2;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.section-18 .inner-left .inner-top img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 512/387;
}
.section-18 .inner-left .inner-top a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #f2f2f2;
    color:#c2c2c2;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.222) 0px 2px 3px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.section-18 .inner-left .inner-top a:hover {
    background-color: var(--green-two-color);
    color: white;
    box-shadow: #3ab54a6b 0px 2px 3px;
}
.section-18 .inner-left .inner-link  {
    text-align: center;
    margin: 12px 0;
}
.section-18 .inner-left .inner-link a{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: #0B7640;
    text-decoration: underline;
    display: inline-block;
}
.section-18 .inner-left .inner-box {
    margin: 10px 0;

}

.section-18 .inner-left .inner-box img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
}   
.section-18 .inner-right {
    margin-left: 48px;
}
.section-18 .inner-right .inner-price {
    margin-top: 8px;
}
.section-18 .inner-right .inner-price-new {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color:var(--green-one-color);
    display: inline-block;
}
.section-18 .inner-right .inner-price-old {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-decoration: line-through;
    color:var(--text-lightblack-seven);
    display: inline-block;
    margin-left: 30px;
}
.section-18 .inner-right .inner-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.section-18 .inner-right .inner-quantity .inner-text {
    font-weight: 500;
    line-height: 2.7rem;
    font-size: 1.8rem;
    color: var(--green-four-color);
    text-transform: uppercase;
    margin-right: 20px;
}
.section-18 .inner-right .inner-quantity .inner-change {
    display: inline-flex;
    width: 32px;
    height: 32px;
    border: 1px solid #DBDBDB;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.section-18 .inner-right .inner-quantity .inner-change a {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color:var(--text-lightblack-seven);
}
.section-18 .inner-right .inner-quantity input {
    display: inline-flex;
    text-align: center;
    width: 50px;
    height: 32px;
    font-size: 1.5rem;
    color:#0363CD;
    outline: none;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    margin: 0 10px;
}
.section-18 .inner-right .inner-content {
    border: 1px solid #DBDBDB;
    padding: 10px 12px;
    margin-top: 12px;
    border-radius: 5px;
    width: 410px;
    height: 230px;
}
.section-18 .inner-right .inner-content h2 {
    margin: 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color:var(--text-lightblack-two);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.section-18 .inner-right .inner-content ul li {
    color: #4F4F4F;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-top: 8px;
    margin-left: 20px;
}
.section-18 .inner-right .inner-content ul li::marker {
    font-size: 2rem;
    color: #c4c4c4;
}
.section-18 .inner-right .inner-content a{
    color: var(--green-four-color);
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-decoration: none;
    cursor: pointer;
}
.section-18 .inner-right .button {
    background-color: var(--green-two-color);
    width: 410px;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 0;
}
.section-18 .inner-right .button img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.section-18 .inner-right .button span {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #fff;
}
.section-18 .inner-right .button-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    margin-top: 16px;
}
.section-18 .inner-right .button-bottom a {
    width: 200px;
    height: 48px;
    display: inline-block;
    background-color: var(--green-one-color);
    color: #fff;
    text-decoration: none;
    border: 1px solid var(--green-one-color); 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 500;
}
.section-18 .inner-right .button-bottom span {
    font-size: 1.6rem;
}
.section-18 .inner-right .button-bottom .button-add-cart{
    background-color: #fff;
    color: var(--green-two-color);
    font-size: 1.6rem;

}
/* End section 18 */
/* section 19 */
.section-19 {
    margin-top: 58px;
}
.section-19 .inner-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.section-19 .inner-title a {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--green-one-color);
}
.section-19 .inner-title h2 {
    font-weight: 500;   
    font-size: 2.4rem;

}
.section-19 .inner-product .row {
    padding: 0 15px;
}
.section-19 .inner-product .my-col {
    padding: 0;
    margin-top: 14px;
}
.section-19 .inner-hr {
    margin-top: 44px;
}
/* End section 19 */
/* section 20 */
.section-20 {
    margin-top: 40px;
}
.section-20 .inner-content {
    border-top: 1px solid #DBDBDB;
    padding: 40px 0;
}
.section-20 .inner-left .inner-title {
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--text-lightblack-five);
    margin-bottom: 18px;

}
.section-20 .inner-desc p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.section-20 .inner-desc .inner-text-upper {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 22px;
}
.section-20 .inner-desc img {
   width: 100%;
   margin-bottom: 16px;
}
.section-20 .button {
    text-align: center;
    margin-top: 20px;
}
.section-20 .inner-right .inner-title {
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--text-lightblack-five);
    margin-bottom: 18px;
}
.section-20 .inner-right .inner-top img {
    width: 100%;
    aspect-ratio: 384/187;
    object-fit: cover;
}
.section-20 .inner-right .inner-top .inner-link {
    font-weight: 700;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-decoration: none;
    color: var(--text-lightblack-five);
    margin-top: 15px;
    cursor: pointer;
}
.section-20 .inner-right .inner-top .inner-info{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-lightblack-seven);
    margin-top: 3px;
    margin-bottom: 20px;
}
.section-20 .inner-right .inner-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 34px;
}
.section-20 .inner-right .inner-item .inner-image img {
    width: 74px;
    aspect-ratio: 74/62;
}
.section-20 .inner-right .inner-item .inner-wrap {
    margin-left: 12px;
}
.section-20 .inner-right .inner-item .inner-subtilte a {
    text-decoration: none;
    color: var(--text-lightblack-five);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.section-20 .inner-right .inner-item .inner-date {
    font-size: 1.1rem;
    color: var(--text-lightblack-seven);
    margin-top: 2px;
}
.section-20 .inner-right .inner-tags {
    margin-top: -26px;
}
.section-20 .inner-right .inner-tags h2 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: var(--text-lightblack-six);
    margin-bottom: 0px;
  
}
.section-20 .inner-right .inner-tags .inner-tag {
    background-color: #e8e8e8;
    height: 28px;
    width: 124px;
    border-radius: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-lightblack-one);
    padding-left: 10px;
    margin: 12px 10px 0 0;
    padding-top: 0.2px;
}

/* End section 20 */
/* section 21 */
.section-21 {
    margin-top: 70px;
}
.section-21 .inner-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-21 .inner-top h2 {
    font-size: 2.4rem;
    color: var(--text-lightblack-five);
    margin: 0;
}
.section-21 .inner-top .inner-button {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    background-color: var(--green-one-color);
    width: 164px;
    text-align: center;
    padding: 4px 0;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 2px 10px #96E3B7;
}
.section-21 .inner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px 0px 6px;
    border: 1px solid #DBDBDB;
    margin-top: 16px;
}
.section-21 .inner-box .inner-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 3);
    border-right: 1px solid #DBDBDB;
    margin-bottom: 12px;
}
.section-21 .inner-box .inner-left .inner-text{
    font-weight: 500;
    font-size: 3.4rem;
    line-height: 4.1rem;
    color: #F2994A;
}
.section-21 .inner-box .inner-left .inner-star img{
    width: 16px;
}
.section-21 .inner-box .inner-left .inner-quantity {
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #007DFF;
    margin-top: 8px;
    display: inline-block;
}
.section-21 .inner-box .inner-right {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
} 
.section-21 .inner-box .inner-right .inner-subwrap {
    display: inline-block;
    max-width: 372px;
}
.section-21 .inner-box .inner-right .inner-item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;
}
.section-21 .inner-box .inner-right .inner-item .progress {
    width: 298px;
    height: 8px;
    margin: 0 26px 0 20px;
    border-radius: 8px;
}
.section-21 .inner-box .inner-right .inner-item .progress .progress-bar{
    background:#F2994A ;
    border-radius: 8px;
}
.section-21 .inner-box .inner-right .inner-item .inner-number {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #4F4F4F;
}
/* End section 21 */
/* section 22 */
.section-22 {
    margin-top: 40px;
}
.section-22 .inner-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-22 .inner-top .inner-number {
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--text-lightblack-five);
}
.section-22 .inner-top .inner-search {
    width: 218px;
    background-color: #F2F2F2;
    padding: 7px 0;
    border-radius: 2px;
    border-radius: 4px;
}
.section-22 .inner-top .inner-search img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}
.section-22 .inner-top .inner-search input {
    outline: none;
    border: none;
    background: #F2F2F2;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-lightblack-seven);
    margin-left: 8px;
}
.section-22 .inner-write {
    margin-top: 12px;
}
.section-22 .inner-write textarea {
    width: 100%;
    height: 102px;
    outline: none;
    border: 1px solid #DBDBDB;
    padding: 20px;
    font-size: 1.5rem;
    color: var(--text-lightblack-seven);
}
.section-22 .inner-write .camera {
    display: inline-block;
    border: 1px solid #DBDBDB;
    width: 88px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 16px;
    margin-bottom: 0;
}
.section-22 .inner-write input[type="file"] {
    display: none;
}
.section-22 .inner-write input[type="text"] {
    height: 32px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-lightblack-seven);
    margin-right: 16px;
    min-width: 212px;
}
.section-22 .inner-write .form-group {
    padding: 10px 20px;
    border: 1px solid #DBDBDB;
    width: 100%;
    border-top:none;
    
}
.section-22 .inner-write .btn {
    width: 126px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    height: 32px;

}

/* End section 22 */
/*  section 23 */

.section-23 .inner-subcomment {
    display: flex;
    
}
.section-23 .inner-subcomment.border-bottom {
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 24px;
    margin-top: 26px;
}
.section-23 .inner-subcomment.no-border-bottom {
    border-bottom: none;
    padding-bottom: 24px;
    margin-top: 26px;
}
.section-23 .inner-subcomment .inner-avatar {
    margin-right: 10px;
}
.section-23 .inner-subcomment .inner-avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.section-23 .inner-subcomment .inner-content .inner-name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--text-lightblack-five);
    margin-bottom: 4px;
}

.section-23  .inner-subcomment .inner-content .inner-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-lightblack-five);
    font-weight: 400px;
    margin: 0;
}
.section-23 .inner-subcomment .inner-content .inner-more {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
}
.section-23 .inner-subcomment .inner-content .inner-more .inner-rep,
.section-23 .inner-subcomment .inner-content .inner-more .inner-like-text  {
    color: #007DFF;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
    margin-right: 16px;
    cursor: pointer;
}
.section-23 .inner-subcomment .inner-content .inner-more .inner-date-time {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.section-23 .inner-subcomment .inner-content .inner-more .inner-date-time img{
    width: 16px;
    margin-right: 6px;
}
.section-23 .inner-subcomment .inner-content .inner-more .inner-date-time span {
    color:var(--text-lightblack-seven);
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 8px;
}

.section-23 .inner-subcomment .inner-content .inner-more .inner-like i{
    font-size: 1.3rem;
    color: var(--text-lightblack-seven);
    margin-right: 6px;
}
.section-23 .inner-subcomment .inner-content .inner-wrap {
    margin-top: 16px;
    background-color: #f2f2f2;
    padding: 16px 42px 16px 16px;
    position: relative;
    border-radius: 4px;
}
.section-23 .inner-subcomment .inner-content .inner-wrap::before {
    content: "";
    position: absolute;
    border-style: solid ;
    border-width: 14px 10px;
    border-color: transparent transparent #f2f2f2 transparent;
    z-index: 1;
    left: 10px;
    top: -25px;

}
/* End section 23 */